body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#controls {
    padding: 10px;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

#controls h2 {
    margin: 5px 0 10px 0;
}

input[type="checkbox"] {
    transform: scale(1.3);
    margin-right: 10px;
}

label {
    font-size: 16px;
    margin: 5px;
}

#canvas-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    cursor: grab;
    background: #333333;
    flex-grow: 1;
}

#canvas {
    position: absolute;
    width: 4000px;
    height: 4000px;
    transform-origin: center;
    left: 50%;
    top: 50%;
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: auto;
    cursor: inherit;
}

#debug {
    display: none;  /* Hide the debug information */
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 1000;
}
